/* Mobile (Small) */
@media (max-width: 576px) {
    .mobileView {
        display: block !important;
    }
    
    .webView {
        display: none !important;
    }
}

/* Mobile (Large) */
@media (min-width: 576px) and (max-width: 768px) {
    .mobileView {
        display: block !important;
    }
    
    .webView {
        display: none !important;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1440px) {}

/* Monitor */
@media (min-width: 1440px) and (max-width: 1920px) {}

/* Large Screen */
@media (min-width: 1920px) {}

.mobileView {
    display: none;
}

.webView {
    display: block;
}

.mobileTobBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 75px;
    z-index: 1000;
    position: fixed;
    top: 0px;
    background-color: transparent;
    box-shadow: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    padding: 0px 25px;
}

.navbar {
    display: flex;
    width: 100%;
    padding: 0;
    height: 75px;
    z-index: 1000;
    position: fixed;
    top: 0px;
    background-color: transparent;
    box-shadow: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.scrolled {
    background-color: #ecf0f1;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.leftSide {
    width: 50%;
    display: flex;
    align-items: center;
}

.rightSide {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navLinksLeft {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 2rem;
}

.navLinksRight {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 2rem;
    align-items: center;
}

.link {
    text-decoration: none;
    font-weight: bold;
    color: #101828;
}

.link:hover {
    color: #fc066df1;
    cursor: pointer;
}

.callNavigationLink {
    background-color: white;
    padding: 3px 5px;
    color: black;
    cursor: pointer;
    border-radius: 50% 50% 50% 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.callNavigationLink:hover {
    background-color: #fc066df1;
    color: white;
}

.linkRight {
    color: white;
}

.btnTalkToUs {
    background-color: black;
    padding: 8px 15px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 2rem;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}

.btnTalkToUs:hover {
    background-color: #fc066df1;
    border: 1px solid #fc066df1;
    color: #fff;
}