/* Mobile (Small) */
@media (max-width: 576px) {
    .middleIconsSections {
        display: none !important;
    }
}

/* Mobile (Large) */
@media (min-width: 576px) and (max-width: 768px) {
    .middleIconsSections {
        display: none !important;
    }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    .middleIconsMobileSection {
        display: none !important;
    }
}

/* Laptop */
@media (min-width: 1024px) and (max-width: 1440px) {
    .middleIconsMobileSection {
        display: none !important;
    }
}

/* Monitor */
@media (min-width: 1440px) and (max-width: 1920px) {
    .middleIconsMobileSection {
        display: none !important;
    }
}

/* Large Screen */
@media (min-width: 1920px) {
    .middleIconsMobileSection {
        display: none !important;
    }
}

.container {
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.logoImage {
    object-fit: cover;
}

.companyName {
    font-weight: 700;
    font-size: 70px;
}

.componyDescription {
    font-weight: 700;
}

.middleSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    margin-top: 4rem;
}

.middleIconsSections {
    display: flex;
    justify-content: space-between;
}

.middleIconsMobileSection {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.iconsMobileContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.iconMobile {
    display: flex;
    justify-content: center;
    width: 50%;
}

.mt1 {
    margin-top: 1rem;
}

.bottomSection {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bottomContent {
    width: 80%;
}

.bottomLine {
    height: 1px;
    width: 100%;
    background-color: #fff;
}

.bottomSectionLast {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}